@import "tailwindcss";

@font-face {
  font-family: 'Josefin Sans';
  src: url('./fonts/JosefinSans.ttf') format('truetype');
  font-weight: medium, bold, thin;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf') format('truetype');
  font-weight: medium, bold, thin;
  font-style: normal;
  font-display: swap;
}

@theme {
  
  --font-primary: 'Josefin Sans', sans-serif;
  --font-secondary: "Inter";
  --color-highlight: #2bf9f2; /* Cor do texto azul*/
  --color-bg-hover: #243A43; /* cor do bg da pagina e do hover*/
  --color-shadow-hover: #9EFFFC;
  --drop-shadow-backlight: 0 0 8px #9EFFFC40;
  --color-second-page: #33464E;
  --color-first-page: #313F45;
  --color-carousel-bg: #3B535D;
  --color-card-inside: #3A758B;
  --color-colored-text: #FFC354;

}


.text-highlight {
  color: #2bf9f2;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version (Chrome, Opera, Firefox) */
}
